body {
    font-family: sans-serif;
    background-color: #f0f3f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #494d4f;
}

.post-form {
    margin-bottom: 20px;
}

#post-text {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    outline: none;
}

#post-button {
    display: block;
    margin-top: 10px;
    background-color: #4f4d4d;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s;
}

#post-button:hover {
    background-color: #8ca7bc;
}

.post-list h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

#posts {
    list-style: none;
    padding: 0;
}

.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-content {
    font-size: 16px;
    line-height: 1.4;
}

.post-timestamp {
    font-size: 14px;
    color: #777;
}
.delete-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    float: right;
    transition: background-color 0.2s;
}

.delete-button:hover {
    background-color: #929292;
}
